<html>
    <head>
        <title>ML with Flask</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body text-align = "center">
        <div class="ui inverted container">
            <div class="ui inverted borderless menu topmenu">
                <h1 class="ui blue inverted header"><a class="ui item" href="/">WRINDLE</a></h1>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui center aligned container">
            <h1 class="ui header">Predicted class
                <h4 class="ui header"> {{ class_name }}</h4>
            </h1>
            <h2 class="ui header" >Confidence
                <h4 class="ui header"> {{ probability }}</h4>
            </h2>
            <button class="massive ui green button">
                <a class="ui  item" href="/">Randomize</a>
            </button>
        </div>
    </body>
</html>
